/*Phone styles*/

@media only screen and (min-width: 420px) {
  .nav-bar-media {
    background-color: #0049a3;
    background-image: url(https://www.transparenttextures.com/patterns/crissxcross.png);
  }
  .container {
   margin-top: 50px;
  }
}

/* Tablet styles */

@media only screen and (min-width: 768px) {
  .nav-bar-media {
    background-color: #0049a3;
    background-image: url(https://www.transparenttextures.com/patterns/crissxcross.png);
  }
  .container {
   margin-top: 50px;
  }
}
 
/* Desktop styles */

@media only screen and (min-width: 1024px) {
  .aligner-and-background-style {
    width: 33.3%;
    float: left;
    margin-top: 200px;
    height: 1%;
    margin-left: 40px;
  }
  .container {
    width: 58%;
    float: right;
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
  }
  .nav-bar-media {
    background-color: #4056A1;
    background-image: none;
  }
}