.tweet-btn {
  background-color: #4056A1;;
  font-family: Bungee;
  color: white;
}

.count-and-btn {
  display: flex;
  justify-content: space-between;
  margin: 10px
}

#tweet-text {
  display: flex;
  border-bottom: solid;
  width: 100%;
}

.counter {
  font-family: Bungee;
}

.when-negative {
  color: red;
}

/* below styles apply to new tweet boxes*/


.article-tweet {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 4px solid black;
  height: 220px;
  padding: 10px;
}

.article-tweet:hover {
 box-shadow: 10px 10px 10px rgba(10, 10, 141, 0.5);
}

.username-and-tweeterAt {
  display: flex;
  justify-content: space-between;
}

.image-for-user {
  width: 50px;
}

.image-username {
  display: flex;
  align-items: center;
}

.display-tweet {
  height: 110px;
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
}

.date-stamp-and-flag {
  height: 30px;
  width: 100%;
  font-size: small;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
  padding-top: 5px;
}

.fa-solid {
  color: purple;
}

.fa-solid:hover {
  color: rgb(157, 145, 72);
}

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
  border: solid red;
}

